<section class="module content-list">
  {% if title is defined and title %}
  <div class="content-list__top">
    <div class="container">
      <h2>{{ title }}</h2>
    </div>
  </div>
  {% endif %}

  {% if items is defined and items is not empty %}
	<div class="content-list__items">
		<div class="container">

      {% for item in items %}
      <div class="content-list__item">
        {% if item.image is defined and item.image %}
        <a href="{{ item.link }}"><img src="{{ item.image }}" alt="{{ item.image_alt|e }}"></a>
        {% endif %}

        {% if item.datetime is defined and item.datetime %}
        <p class="content-list__item__datetime">{{ item.datetime }}</p>
        {% endif %}

        {% if item.category is defined and item.category %}
        <p class="content-list__item__category">{{ item.category }}</p>
        {% endif %}

        {% if item.title is defined and item.title %}
        <a href="{{ item.link }}"><h3 class="content-list__item__title">{{ item.title }}</h3></a>
        {% endif %}

        {% if item.text is defined and item.text %}
        <p class="content-list__item__desc">{{ item.text }}</p>
        {% endif %}
      </div>
      {% endfor %}

		</div>
	</div>

  <nav class="navigation pagination" role="navigation">
    <div class="nav-links">
    {{ pagination }}
    </div>
  </nav>

  {% endif %}
</section>
