{% set first = items|first %}

<section class="module hero"
  data-name="hero"
  data-type="hero">

  {% if first.image is defined and first.image is not empty %}
  <figure>
    {% if first.link is defined and first.link is not empty %}
    <a href="{{ first.link }}">
    {% endif %}

      <img src="{{ first.image }}" alt="{{ first.image_alt }}">

    {% if first.link is defined and first.link is not empty %}
    </a>
    {% endif %}
  </figure>
  {% endif %}

  <div class="hero__content">
    <div class="columns">
      <div class="column {{ (post_type == 'post') ? 'is-11 is-offset-1' : 'is-9 is-offset-2' }}">
        {% if first.title is defined and first.title is not empty %}
        {% if h_tag is empty %}
        {% set h_tag = first.h_tag %}
        {% endif %}
        <a href="{{ first.link }}"><{{ h_tag|default('h2') }} class="hero__title">{{ first.title }}</{{ h_tag|default('h2') }}></a>
        {% endif %}

        {% if first.text is defined and first.text is not empty %}
        <p class="hero__desc">{{ first.text }}</p>
        {% endif %}
      </div>
    </div><!-- /.columns -->
  </div>
</section>
