{% set first = items|first %}

<section class="module hero wpb_animate_when_almost_visible wpb_fadeIn fadeIn wpb_start_animation animated"
  data-name="hero"
  data-type="hero">

  {% if first.image is defined and first.image is not empty %}
  <figure>
    <a href="{{ first.link }}"><img src="{{ first.image }}" alt="{{ first.image_alt }}"></a>
  </figure>
  {% endif %}

  <div class="hero__content">
    {% if first.title is defined and first.title is not empty %}
    <a href="{{ first.link }}"><{{ h_tag|default(h2) }} class="hero__title">{{ first.title }}</{{ h_tag|default(h2) }}></a>
    {% endif %}

    {% if first.text is defined and first.text is not empty %}
    <p class="hero__desc">{{ first.text }}</p>
    {% endif %}
  </div>
</section>
