{% block html_head_container %}
{% include 'global/html-header.twig' %}
{% endblock %}

<body id="root" class="{{ body_class }}" data-theme="" data-template="base.twig">
  <a class="skip-link is-sr-only" href="#main">{{ _e( 'Skip to content') }}</a>

  <header id="header" class="module header" data-name="header">
    {% block header %}
    <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ site.url }}" rel="home">
          <p class="site-name is-hidden">{{ site.name }}</p>
          {# {{ function('the_custom_logo') }} #}
        </a><!-- /.navbar-item -->

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div><!-- /.navbar-brand -->

      <div class="navbar-menu">
        <div class="navbar-start">
          {% include "global/menu.twig" with {'menu': menu.get_items} %}
        </div><!-- /.navbar-start -->

        <div class="navbar-end">
          <div class="navbar-item">
            <form method="get" action="{{ site.url }}" role="search">
              <div class="" data-name="">
                <input type="text" name="s" value="" placeholder="" autocomplete="off"/>
                <button type="submit" class="">Search</button>
              </div>
            </form>
          </div><!-- /.navbar-item -->
          <div class="navbar-item">


          </div><!-- /.navbar-item -->
            <div class="social-media__links">
              <ul>
                <li>
                  <a href="https://www.facebook.com/" class="social-media__link" target="_blank">
                    <i class="icon-font">facebook</i>
                  </a>
                </li>

                <li>
                  <a href="https://twitter.com/" class="social-media__link" target="_blank">
                    <i class="icon-font">twitter</i>
                  </a>
                </li>

                <li>
                  <a href="https://www.instagram.com/" class="social-media__link">
                    <i class="icon-font">instagram</i>
                  </a>
                </li>
              </ul>
            </div>
        </div><!-- /.navbar-end -->
      </div><!-- /.navbar-menu -->
    </nav>
    {% endblock %}
  </header>

  <section id="main" class="section" role="main" data-name="main">
    <div class="container">
      {% if title %}
      <h1>{{ title }}</h1>
      {% endif %}

      {% block content %}
        Sorry, no content
      {% endblock %}
    </div><!-- /.container -->
  </section>

  {% block footer %}
  {% include 'global/footer.twig' %}

  <script src="{{ site.theme.link }}/build/assets/scripts/main.js"></script>
  {{ function('wp_footer') }}
  {% endblock %}
</body>
</html>
