{% block html_head_container %}
{% include 'global/html-header.twig' %}
{% endblock %}

<body id="root" class="{{ body_class }}" data-theme="" data-template="base.twig">
  <a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>

  <header id="header" class="module header" data-name="header">
    {% block header %}
    <div class="wrapper">
      <a href="{{ site.url }}" rel="home">
        <p class="logo" role="banner">{{ site.name }}</p>
        {{ function('the_custom_logo') }}
      </a>

      <nav id="nav-main" class="nav-main" role="navigation">
        {% include "global/menu.twig" with {'menu': menu.get_items} %}
      </nav><!-- #nav-main -->

      <form method="get" action="{{ site.url }}" role="search">
        <div class="" data-name="">
          <input type="text" name="s" value="" placeholder="" autocomplete="off"/>
          <button type="submit" class="">Search</button>
        </div>
      </form>
    </div>
    {% endblock %}
  </header>

  <main id="main" class="main" data-default="" role="main">
    <section id="content" role="main" class="content-wrapper">
      {% if title %}
      <h1>{{ title }}</h1>
      {% endif %}

      {% block content %}
        Sorry, no content
      {% endblock %}
    </section>
  </main>

  {% block footer %}
  <script src="{{ site.theme.link }}/build/assets/scripts/main.js"></script>

  <footer id="footer" class="module footer" data-name="footer">
    {% include 'global/footer.twig' %}
  </footer>

  {{ function('wp_footer') }}
  {% endblock %}
</body>

</html>
